@media screen and (max-width: 600px){
	.btn-nav{
    display: none;
  }
  .main-nav ul{
    position: static;
    width: auto;
    background: transparent;
    margin: 0;
    padding: 30px 0;
    display: block !important;
  }
  .main-nav li{
    display: inline-block;
    margin: 0 25px 0 0;
  }
  .main-nav a{
  color: #f26c4f;
  font-size: 14px;
  display: inline-block;
  padding: 8px 10px;
  border: none;
 }
 .footer p{
  width: 70%;
}
}
